<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PlayOrder</title>
    <%- include("./partials/producer_partials/producer_head")%>
  </head>
  <body>
    <nav class="navbar">
      <%- include('./partials/producer_partials/producer_nav')%>
    </nav>
    <section class="container">
      <aside class="sidebar aside-left">
        <%-include('./partials/producer_partials/producer_asideLeft')%>
      </aside>
      <div class="main-content page1-content">
        <%-include('./partials/producer_partials/producer_page1Content')%>
      </div>
      <aside class="sidebar aside-right">
        <%-include('./partials/producer_partials/producer_asideRight')%>
      </aside>
    </section>
    <footer>
      <%-include('./partials/producer_partials/producer_footer')%>
    </footer>
  </body>
</html>
